header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    top: 0; left: 0;
    border-bottom: 1px solid;
    border-color: #CCCCCC;
}

div.logo::before {
    float:left;
    content:url(file:///home/mrjosephwill/holberton/AirBnB_clone/web_static/images/logo.png);
}